@model Sessions_app.Models.Paciente

@{
    ViewData["Title"] = "Detalhes do Paciente";
}

<h1>Detalhes do Paciente</h1>

<div class="card">
    <div class="card-header bg-success text-white">
        <h4>@Model.Nome</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">ID</dt>
            <dd class="col-sm-9">@Model.IdPaciente</dd>

            <dt class="col-sm-3">Nome</dt>
            <dd class="col-sm-9">@Model.Nome</dd>

            <dt class="col-sm-3">CRM</dt>
            <dd class="col-sm-9">@Model.Telefone</dd>

            <dt class="col-sm-3">Telefone</dt>
            <dd class="col-sm-9">@Model.Email</dd>

            <dt class="col-sm-3">E-mail</dt>
            <dd class="col-sm-9">@Model.DataNascimento</dd>
        </dl>
    </div>
    <div class="card-footer">
        <a asp-action="Edit" asp-route-id="@Model.IdPaciente" class="btn btn-warning">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </div>
</div>