@model Sessions_app.Models.Paciente

<div class="container mt-4">
    <h2>Detalhes do Paciente</h2>

    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <td>@Model.IdPaciente</td>
        </tr>
        <tr>
            <th>Nome</th>
            <td>@Model.Nome</td>
        </tr>
        <tr>
            <th>Telefone</th>
            <td>@Model.Telefone</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <th>Data de Nascimento</th>
            <td>@Model.DataNascimento</td>
        </tr>
    </table>

    <a asp-controller="Paciente" asp-action="Index" class="btn btn-primary">Voltar para Lista</a>
</div>
